extends ../layouts/default

mixin post(post, category)
  .g.one-third.tiny-one-whole.small-one-half.large-one-quarter(data-js="element" data-category="#{category}")
    a(href=post.slug)
      .element(data-ks-editable=editable(user, { list: 'Post', id: post.id }) data-category="#{category}")
        h2= post.title

block content
  - var ultracategory = ""

  .container.gw
      if filters.category && !data.category
        h3.text-muted Invalid Category.
      else
        if data.posts.results.length
          each post in data.posts.results
            - ultracategory = ""
            each cat in post.categories
              - ultracategory += cat.key + ","
            +post(post, ultracategory)
        else
          if data.category
            h3.text-muted There are no posts in the category #{data.category.name}.
          else
            h3.text-muted There are no posts yet.